*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

div img{
    max-width:100%;
}
body{
    width:100vw;
    overflow-x:hidden;
    background-color: #080808;
    padding :0 0;

}
.container{
        background-color: #fff;
        margin-left: 0;;
    width:100%;
    min-height:100vh;
    position:relative;
    transform-origin: top left;
    transition: transform 0.5s ease-in;
}
.container.show-nav{
    transform: rotate(-20deg) ;
}
.container.show-nav .circle #open{
    display:none;
}
.container.show-close .circle #close{
    display:none;
}
.circle-container{
position:fixed;
top:-130px;
left:-130px;
}
.circle{
background-color: #db4040;
width:200px;
height:200px;
border-radius: 50%;
position: relative;
transition: transform 0.5s linear;
}

.btn{
    position:absolute;
    background: transparent;
    border: none;
    top:70%;
    left:70%;
    cursor: pointer;
}
.btn#close{
    /* display:none; */
    top:80%;
    left:65%;
}

button img{
    width:20px;
    background:transparent;
}
.content{

    top:0;
    left:0;
    z-index:-1;
    padding:20px
}
nav ul li img{
    max-width:20px;
    background-color:white;
}
nav{
    color:white;
    position:fixed;
    bottom:20px;
    left:20px;
}
nav ul{
    list-style-type: none;
}